.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 64px); /* Adjust height to account for nav bar */
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: flex-start; /* Align content to the left */
  background-size: cover; /* Cover the entire hero section */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
  background-image: url('../../Assets/background.png'); /* Add the background image */
  padding-left: 50px; /* Add padding to push content away from the left edge */
}

.heroLight {
  background-color: rgba(206, 229, 253, 0.5); /* Light overlay for readability */
}

.heroDark {
  background-color: rgba(2, 41, 79, 0.5); /* Dark overlay for readability */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0); /* Transparent overlay */
  z-index: 1; /* Ensure the overlay is on top */
}

.container {
  position: relative;
  z-index: 2; /* Ensure the container is above the overlay */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  height: 100%; /* Ensures the container takes the full height of the hero section */
}

.text-box {
  background-color: rgb(255, 255, 255); /* Blue background with opacity */
  padding: 20px;
  border-radius: 8px;
  position: absolute;
  right: 600px;
  left: 50px; /* Change this value to move the box horizontally */
  top: 150px; /* Change this value to move the box vertically */
}

.heading {
  font-size: 2.5rem;
  color: black;
}

@media (min-width: 600px) {
  .heading {
    font-size: 3rem;
  }
}

@media (min-width: 960px) {
  .heading {
    font-size: 3.5rem;
  }
}

.highlight {
  color: rgb(0, 42, 255); /* Adjust this to match your theme's primary color */
  font-size: inherit; /* Inherit the font size from the parent Typography */
}

.button-container {
  margin-top: 20px;
}
