/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar styles */
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.9); /* Transparent background */
  padding: 0 2rem;
  height: 5rem;
  position: fixed; /* Fixing the navbar */
  width: 100%; /* Ensuring it spans the width of the viewport */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensuring it stays above other elements */
}

.navbar-brand .logo {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-links {
  display: flex;
  list-style-type: none;
}

.navbar-links li {
  margin-right: 1rem;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.navbar-links a:hover {
  opacity: 0.7;
}

.cta-btn {
  color: #333;
  background-color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.cta-btn:hover {
  background-color: #ddd;
}


